	body {
		text-align: center;
		font-size: 18px;
		background: url(../image/background1.jpg);
		color: #dedede;
	}
	div[role="footer"] {
		color: white;
		font-size: 0.9em;
		padding: 0.5%;
		text-align: center;
		mix-blend-mode: exclusion;
	}
	div[role="main"] {
		border: 1px solid black;
	}
	legend, legend a, legend a:hover {
		color: #dedede;
	}
	legend a:hover {
		cursor: pointer;
	}
	input[type="number"] {
		color: black;
	}
	.login input {
		display: inline;
		width: auto;
	}
	.stats input{
		float: right;
	}
	.container {
		margin-top: 1%;
	}
	#fb {
		margin:0% 0%;
		background: url('../image/rrss1.gif') no-repeat 0 0;
		width: 38px;
		height: 37px;
		border-radius: 10px 10px 10px 10px;
	}
	#fb:hover {
		background: url('../image/rrss1.gif') no-repeat 0 -76px;
	}
	#tw {
		background: url('../image/rrss1.gif') no-repeat -45px 0;
		width: 37px;
		height: 38px;
		border-radius: 10px 10px 10px 10px;
	}
	#tw:hover {
		background: url('../image/rrss1.gif') no-repeat -45px -76px;
	}
	#in {
		background: url('../image/rrss1.gif') no-repeat -134px 0;
		width: 39px;
		height: 37px;
		border-radius: 10px 10px 10px 10px;
	}
	#in:hover {
		background: url('../image/rrss1.gif') no-repeat -134px -76px;
	}
	#tu {
		background: url('../image/rrss1.gif') no-repeat -220px 0;
		width: 39px;
		height: 38px;
		border-radius: 10px 10px 10px 10px;
	}
	#tu:hover {
		background: url('../image/rrss1.gif') no-repeat -220px -76px;
	}
	.row {
		margin-bottom: 1%;
	}
	.rrss {
		padding:1%;
	}
	.btn-login {
		color:black;
		background: lightgray;
	}
	.btn-login:hover {
		box-shadow: 1px 1px 10px 1px white;
		opacity: 0.7;
	}
	.fb-button {
		margin-top: 1%;
		background: url('../image/fb-button.png') no-repeat 1% ;
		width: 153px;
		height: 34px;
		border-radius: 5px 5px 5px 5px;
	}
	.fb-button:hover {
		opacity: 0.7;
	}
	.activeSection {
		font-size: 1.4em;
	}
	.loginImage {
		max-height: 280px;
	}
	.avatarImg {
		width: 200px;
		height: 200px;
	}
	.userLogin {
		margin: 10% 30%;
		height: 120px;
	}
	.userLogin:hover {
		box-shadow: 1px 1px 10px 1px white;
		opacity: 0.7;
		cursor: pointer;
	}
	@media  (max-width: 600px) {
		body{
			font-size: 1.4em;
		}
	}