@font-face {
  font-family: "Herculanum";
  src: url("../fonts/Herculanum-Regular.ttf");
}

body {
  text-align: center;
  font-size: 18px;
  background: url(../image/background1.jpg);
  color: #dedede;
}

div[role="footer"] {
  color: white;
  font-size: 0.9em;
  padding: 0.5%;
  text-align: center;
  mix-blend-mode: exclusion;
}

div[role="main"] {
 /* border: 1px solid black;
*/
}

legend, legend a, legend a:hover {
  color: #dedede;
}

audio {
  display: none;
}

.volume span{
  font-size: 1.8em;
  cursor: pointer;
}

legend a:hover {
  cursor: pointer;
}

input[type="number"] {
  color: black;
}

.login input {
  display: inline;
  width: auto;
}

.stats input {
  float: right;
}

.container {
  margin-top: 1%;
}

#fb {
  margin: 0% 0%;
  background: url('../image/rrss1.gif') no-repeat 0 0;
  width: 38px;
  height: 37px;
  border-radius: 10px 10px 10px 10px;
}

#fb:hover {
  background: url('../image/rrss1.gif') no-repeat 0 -76px;
}

#tw {
  background: url('../image/rrss1.gif') no-repeat -45px 0;
  width: 37px;
  height: 38px;
  border-radius: 10px 10px 10px 10px;
}

#tw:hover {
  background: url('../image/rrss1.gif') no-repeat -45px -76px;
}

#in {
  background: url('../image/rrss1.gif') no-repeat -134px 0;
  width: 39px;
  height: 37px;
  border-radius: 10px 10px 10px 10px;
}

#in:hover {
  background: url('../image/rrss1.gif') no-repeat -134px -76px;
}

#tu {
  background: url('../image/rrss1.gif') no-repeat -220px 0;
  width: 39px;
  height: 38px;
  border-radius: 10px 10px 10px 10px;
}

#tu:hover {
  background: url('../image/rrss1.gif') no-repeat -220px -76px;
}

.row {
  margin-bottom: 1%;
}

.rrss {
  padding: 1%;
}

.btn-login {
  color: black;
  background: lightgray;
  border: 2px solid #474747;
  border-radius: 0px 10px 10px 10px;
}
.btn-battle {
  color: black;
  background: lightblue;
  border-radius: 20px 0px 20px;
}
.btn-battle:hover {
  background: black;
  box-shadow: 1px 1px 10px 1px white;
  opacity: 0.7;
}

.btn-login:hover {
  box-shadow: 1px 1px 10px 1px white;
  opacity: 0.7;
}

.fb-button {
  margin-top: 1%;
  background: url('../image/fb-button.png') no-repeat 1%;
  width: 153px;
  height: 34px;
  border-radius: 5px 5px 5px 5px;
}

.fb-button:hover {
  opacity: 0.7;
}

.activeSection {
  font-size: 1.4em;
}

.loginImage {
  max-height: 280px;
  border-radius: 20px;
  padding: 0%;
  -webkit-box-shadow: 1px -41px 151px 147px rgba(0,0,0,1);
  -moz-box-shadow: 1px -41px 151px 147px rgba(0,0,0,1);
  box-shadow: 1px -41px 151px 147px rgba(0,0,0,1);
}

.avatarImg {
  width: 200px;
  height: 200px;
}

.userLogin {
  border-radius: 20px;
}

.userLogin:hover {
  box-shadow: 1px 1px 10px 1px white;
  opacity: 0.7;
  cursor: pointer;
}

.userDelete {
}

.userDelete:hover {
  -webkit-filter: drop-shadow(10px 10px 10px black);
  filter: drop-shadow(5px 5px 5px white);
  cursor: pointer;
}

.screen {
  display: inline-block;
  vertical-align: baseline;
  width: 640px;
  height: 480px;
  position: absolute;
  font-family: "Herculanum";
  -webkit-box-shadow: inset -1px 1px 39px 27px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -1px 1px 39px 27px rgba(0,0,0,0.75);
  box-shadow: inset -1px 1px 39px 27px rgba(0,0,0,0.75);
  border-radius: 20px;
}
canvas {
  border-radius: 20px;
  -webkit-box-shadow: -1px 1px 164px 99px rgba(0,0,0,1);
  -moz-box-shadow: -1px 1px 164px 99px rgba(0,0,0,1);
  box-shadow: -1px 1px 164px 99px rgba(0,0,0,1);
}

.menu-options {
  /*margin-left: 420px;*/
  margin-top: 300px;
}

.img-sign {
  margin-top: 22px;
  display: none;
}

.menu-options h3:hover {
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #fff,
  0 0 40px #004d99,
  0 0 70px #004d99,
  0 0 80px #004d99,
  0 0 100px #004d99,
  0 0 150px #004d99;
  color: lightgray;
  cursor: pointer;
}

#end-screen {
  margin-top: 150px;
  display: none;
}
#end-screen input:hover {
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 30px #fff,
  0 0 40px #004d99,
  0 0 70px #004d99,
  0 0 80px #004d99,
  0 0 100px #004d99,
  0 0 150px #004d99;
  color: lightgray;
  cursor: pointer;
}

#menuBattle, #menuSkills, #menuItems, menuList {
  display: none;
  max-height: 200px;
}

.backButton {
  background: url("../image/rightSign.png");
  background-size: 100% 100%;
  height: 185px;
  opacity: 0.3;
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;
}

.backButton:hover {
  opacity: 0.7;
  cursor: pointer;
}

#skillsList,#itemList {
  overflow-y: auto;
  max-height: 180px;
}
#skillsList h3[id^='btn-skill-'], #itemList h3[id^='btn-item-'], .monstruosList{
  display: none;
}
#itemList h3 {
  font-size: 0.9em;
}
.item {
  height: 30px;
}
.itemPic {
  max-height: 150px;
  max-width: 100px;
}
.itemReadOnly {
  color: black;
}
.monstruosList {
  background: url('../image/futureui2.png');
  background-size: 100% 100%;
  height: 140px;
  margin-top: 2%;
}
.monstruosList:hover {
  -webkit-box-shadow: -6px 3px 75px 25px rgba(0,0,0,1);
  -moz-box-shadow: -6px 3px 75px 25px rgba(0,0,0,1);
  box-shadow: -6px 3px 75px 25px rgba(0,0,0,1);
  cursor: pointer;
}
.shopMenu {
  padding: 2%;
  border-width:5px;
  border-style:dashed;
  text-align: left;
}
.shopList .glyphicon {
  cursor: pointer;
  font-size: 1.7em;
}
.sales-message {
  display: none;
  color: lightgray;
  margin-left: 15%;
  width: 500px;
  height: 200px;
  text-align: center;
  z-index: 1;
  background: url("../image/background3.jpg");
  background-size: 100% 100% ;
  position: absolute;
  border-radius: 20px;
  -webkit-box-shadow: inset 0px 0px 23px 22px rgba(48,48,48,1);
  -moz-box-shadow: inset 0px 0px 23px 22px rgba(48,48,48,1);
  box-shadow: inset 0px 0px 23px 22px rgba(48,48,48,1);
}
.btn-menu-principal {
  /*Modificar*/
  color: black;
  background: lightgray;
  border: 2px solid #474747;
  border-radius: 0px 10px 10px 10px;
}
.logout {
  margin-top: 2%;
}
#shopHeader h1{
  text-decoration: underline overline wavy;
}
#thanks {
  font-size: 0.5em;
}
#shop, #user {
  display: none;
}
canvas {
  background: url('../image/forest2.jpg');
  z-index: 0;
}

@media (max-width: 640px) {
  .screen {
    width: 280px;
    height: 470px;
  }

  .message-screen {
    width: 281px;
    height: 470px;
  }

  #battleCanvas {
    width: 280px;
    height: 470px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 1.4em;
  }
  .sales-message {
    margin-left: 5%;
    width: 320px;
    height: 150px;
  }
}

@media (max-width: 360px) {
  .menu-options h3 {
    font-size: 1.3em;
  }
  #menuBattle {
    margin-top: 320px;
  }
}